/**bases**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", "sans-serif";
  color: #101010;
}

h2 {
  font-family: "Roboto", "sans-serif";
}

a {
  text-decoration: none;
  color: #101010;
}

/*shadow card*/
/*components*/
/**button gradient**/
.btn {
  width: 70%;
  min-height: 3.125rem;
  padding: 0.9375rem 1.25rem;
  color: #fff;
  border-radius: 3.125rem;
  background: linear-gradient(#FF79DA, #9356dc 85%);
  font-size: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 13.625rem;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.location {
  position: relative;
  min-width: 18.75rem;
  height: 3.90625rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #EAEAEA;
  gap: 1.06rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.location .location_form {
  padding: 0.875rem;
  margin: auto;
  outline: none;
  background: #EAEAEA;
}

.location_icon-search {
  width: 2.34375rem;
  height: auto;
  font-weight: 700;
  color: #bebebe;
}

.location_input-search {
  outline: none;
  border: none;
  background: transparent;
  padding-left: 1.0625rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.location_input-search:hover {
  border: 1px solid #FF79DA;
  border-radius: 1.1875rem;
  transition: 0.3s ease-in-out;
  padding: 0.5rem;
  cursor: pointer;
  opacity: 40%;
}
.location_input-search::placeholder {
  color: #353535;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
}
.location_input-search:focus {
  background: #e4d5f6;
  opacity: 40%;
  border-radius: 1.5625rem;
}

.eateries {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3.125rem 1.25rem;
  background: #f6f6f6;
}
.eateries h2 {
  margin: 0.25rem 0 1.25rem 0;
  font-weight: 700;
  font-size: 1.5rem;
}
.eateries figure {
  background: #fff;
  border-radius: 0.9375rem;
  height: 15.6875rem;
  width: 100%;
  max-width: 21.25rem;
  margin-bottom: 1.125rem;
  position: relative;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.eateries img {
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  height: 10.9375rem;
  width: 100%;
}
.eateries figcaption {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  height: auto;
}
.eateries .cards-eateries_txt-new {
  display: inline-block;
  padding: 0.4375rem 0.625rem;
  color: #008766;
  background: #99E2D0;
  border-radius: 0.125rem;
  font-weight: 500;
  font-size: 0.875rem;
  min-width: 5rem;
  min-height: 1.8125rem;
  position: absolute;
  top: 5%;
  right: 3%;
}
.eateries .cards-eateries-txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.eateries .cards-eateries-txt h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.4375rem;
}
.eateries .cards-eateries-txt p {
  font-size: 1.06rem;
  font-weight: 300;
}
.eateries .heart-empty::before {
  display: inline-block;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}
.eateries .heart-full-of::after {
  display: inline-block;
}

.eateries-cards_bg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0 1.125rem;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}
@media screen and (min-width: 767.98px) {
  .eateries-cards_bg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3.125rem 6.25rem;
    justify-content: center;
    width: 100%;
  }
}

/*layout*/
header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 1;
}

.logo_header {
  display: block;
  height: auto;
  min-width: 12rem;
  padding: 1.5rem;
  background: #fff;
}

footer {
  background: #353535;
  padding: 1.375rem 1.5625rem;
  font-size: 1rem;
}
footer h2 {
  font-family: "shrikhand", "cursive";
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  margin-bottom: 1rem;
}
footer p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4375rem;
}
footer i {
  color: #fff;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4375rem;
}
footer .footer-content__link {
  font-weight: 300;
}
footer .footer-content__link--icon {
  display: flex;
  justify-content: start;
}
footer .footer-content__link--icon .fa-hands-helping,
footer .footer-content__link--icon .fa-utensils {
  margin-right: 0.6875rem;
}

/*pages*/
.main-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
}

/***section info**/
.info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  padding-top: 2.375rem;
  padding: 2.4rem 1.875rem;
}
.info h1 {
  color: #101010;
  font-family: "Roboto", "sans-serif";
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
}
.info p {
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 1.6875rem;
  align-self: center;
}

/**section functioning**/
.functioning {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem;
  background: #fff;
}
.functioning h2 {
  align-self: flex-start;
  margin: 3rem 0 1.625rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.functioning .functioning__item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 1.25rem;
  border: none;
  padding: 1.75rem 2.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 1.5625rem 0;
  max-width: 20.9375rem;
  height: auto;
  transition: transform 0.3s;
}
.functioning .functioning__item:hover {
  cursor: pointer;
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(147, 86, 220, 0.25);
}
.functioning .functioning-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.functioning .fonctioning-list__circle {
  background: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 0.875rem;
  position: absolute;
  left: -10px;
  top: 25%;
  transform: translateY(40%);
}
.functioning .functioning-list__number {
  margin-top: 0.25rem;
}
.functioning .functioning-list_icon {
  color: #7E7E7E;
  margin-right: 1.6875rem;
  transition: transform 0.3s;
}
.functioning .functioning-list_icon:hover {
  color: #9356dc;
}
.functioning .functioning-list_links {
  display: flex;
}
.functioning p {
  font-size: 1rem;
  font-weight: 500;
}

/*mixins*/
/*shadow card*/

/*# sourceMappingURL=main.css.map */
