/*.loader__container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
     display: flex;

    .dot {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: var.$primary-color;
        margin: 0 10px;
       // animation: loader infinite 0.3s alternate;
    }

.d1 {
    animation: loader infinite 0.3s alternate;
    background: var.$primary-color;
}

.d2 {
    animation: loader infinite 0.3s 0.05s alternate;
    background: var.$green-color-bagde;
}

.d3 {
    animation: loader infinite 0.3s 0.1s alternate;
    background: var.$secondary-color;
}

    @keyframes loader {
        100% {
            transform : translateY(-30px)

        }
    }
}*/
body {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", "sans-serif";
  color: #101010;
}

h2 {
  font-family: "Roboto", "sans-serif";
}

/*shadow card*/
/*button header*/
/*buttons functioning*/
/*@mixin badge-new {
    background: var.$primary-color;
    color: var.$color-white;
    padding: func.rem(5) func.rem(10);
    border-radius: base.rem(20);
    font-size: typo.$font-size-x-small;
    position: absolute;
    top: -10px;
    right: -10px;
}*/
/*hearts*/
/*
.title-container {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: func.rem(30);
   position: relative;
    //@include mix.heart-icon(func.rem(20), func.rem(20), var.$primary-color, var.$secondary-color);
}
.heart-empty,
.heart-full-of
 {
    position: absolute;
    top: 40%;

    font-size: $width;
    margin: 20px;
    width: $width;
    height: $height;
    transition: color 0.3s ease;
}

.heart-empty {
    opacity: 1;
    z-index: 1;revoir comment ne plus voir le contour quand le coeur est en hover
}
.heart-empty:hover {
    opacity: 0;
}

.heart-full-of {
    opacity: 0;
    background: linear-gradient(var.$primary-color, var.$secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $width;
    transform: translate scale(1.2);

}
.heart-full-of:hover {
    opacity: 1;

}
}*/
/**button gradient**/
.btn {
  width: 13.625rem;
  min-height: 3.125rem;
  padding: 0.9375rem 1.25rem;
  color: #fff;
  border-radius: 3.125rem;
  background: linear-gradient(#FF79DA, #9356dc 85%);
  font-size: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 13.625rem;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.button-order {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-order {
  width: 11.625rem;
  min-height: 3.125rem;
  padding: 0.9375rem 1.25rem;
  color: #fff;
  border-radius: 3.125rem;
  background: linear-gradient(#FF79DA, #9356dc 85%);
  font-size: 1rem;
}

.location {
  position: relative;
  min-width: 18.75rem;
  height: 3.90625rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.location_form {
  padding: 0.875rem;
  margin: auto;
  background: #EAEAEA;
}

.location_icon-search {
  width: 2.34375rem;
  height: auto;
  font-weight: 700;
  color: #bebebe;
}

.location_input-search {
  outline: none;
  border: none;
  background: transparent;
  padding-left: 1.0625rem;
  font-size: 0.875rem;
  font-weight: 700;
}

/*@mixin underline($length) {
    padding-bottom: 2px;
    border-bottom: 3px solid var.$green-color-bagde;
    width: $length;
}*/
.menu__items {
  background: #fff;
  border-radius: 0.9375rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0.75rem;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* @media screen and (min-width: 768px) {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
   }*/
}

.menu__title {
  display: inline-block;
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1.25rem 0 2.5rem;
  align-self: flex-start;
  padding-bottom: 0.625rem;
}
.menu__title::after {
  content: "";
  display: block;
  width: 50%;
  background: #99E2D0;
  height: 0.1875rem;
}

.menu__items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .menu__items {
    width: 80%;
  }
}
.menu__items .menu__meal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}

/*

   .menu__meal {
    @include mix.flex-center(column);
    gap: func.rem(10);
   }

   .price {
    font-weight: typo.$font-weight-bold;
    display:flex;
    align-items: flex-end;
    overflow: hidden;

   }

   /*.menu__check{
    background: var.$green-color-bagde;
    margin: func.rem(-16) func.rem(-76) func.rem(-16) func.rem(16);
    width: func.rem(60);
    height: func.rem(74);
    border-top-right-radius: func.rem(15);
    border-bottom-right-radius: func.rem(15);
   @include mix.flex-center(row);

    transition: all 0.5s ease-in-out;
            &:hover {
                transform: scalex(1.5);
                opacity: 1;*/
.fa-check-circle {
  opacity: 0;
}
.fa-check-circle:hover {
  opacity: 1;
  background: #99E2D0;
  color: #fff;
}
.fa-check-circle + .menu__checkWrap {
  transform: rotate(0.5turn);
}
.fa-check-circle .menu__checkWrap {
  height: 4.625rem;
  width: 3.75rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 50%;
  background: #99E2D0;
  transition-duration: 1s ease-in-out;
  transform-origin: rotate(-0.5turn);
}
.fa-check-circle .menu__check {
  position: relative;
  overflow: hidden;
  width: 3.75rem;
  height: 4.625rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.fa-check-circle .menu__check .fa-check-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  color: #99E2D0;
  transform: translateX(20%);
}
.fa-check-circle .menu__check .menu__check:hover .menu__check i {
  transform: translateX(20%);
}
@keyframes reveal-check {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.fa-check-circle .menu__title {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 1.25rem 0 2.5rem;
  padding-bottom: 1.25rem;
  /* position: relative;
   &::after {*/
  /*faire un placeholder a la place de @include mix.partial-underline(var.$green-color-bagde, func.rem(3), 50%);
  voir pourquoi la mixin ne fonctionne pas
          content:'';
          position: absolute;
          left: 0;
          bottom: func.rem(-10);
          width: func.rem(40);
          height: func.rem(3);
          background: var.$green-color-bagde;

      }*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
}

footer {
  background: #353535;
  padding: 1.375rem 1.5625rem;
  font-size: 1rem;
}
footer .logo-footer {
  font-family: "shrikhand", "cursive";
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  margin-bottom: 1rem;
}
footer p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4375rem;
}
footer i {
  color: #fff;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4375rem;
}
footer .footer-content__link {
  font-weight: 300;
}
footer .footer-content__link--icon {
  display: flex;
  justify-content: start;
}
footer .footer-content__link--icon .fa-hands-helping,
footer .footer-content__link--icon .fa-utensils {
  margin-right: 0.6875rem;
}
footer .footer-content .font__footer-light {
  font-weight: 300;
  margin-left: 1.25rem;
}

@media screen and (min-width: 768px) {
  footer {
    height: 7.125rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    padding: 1.375rem 3.75rem;
    font-size: 1rem;
  }
  footer .footer-content {
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 0.4375rem;
  }
  footer .logo-footer {
    margin: 0rem 0rem 0rem 6.25rem;
  }
  footer p {
    margin: 0;
  }
}
header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 1;
  padding: 0.625rem 1.25rem;
}

.logo__container {
  display: grid;
  justify-content: center;
}

.logo__header {
  display: block;
  align-self: center;
  height: auto;
  min-width: 12rem;
  padding: 1.5rem;
  background: #fff;
}

.fa-arrow-left {
  font-size: 1.5rem;
  font-weight: bold;
  color: #101010;
}

.header-home {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1.25rem;
}

.nav__resto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2.625rem;
}
.nav__resto .nav__arrow {
  color: rgb(233, 7, 7);
  margin: 2.625rem;
  font-size: base(--font-size-logo);
  font-weight: base(--font-weight-medium);
}

/*mixins*/
/*components*/
.eateries {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3.125rem 1.25rem;
  background: #f6f6f6;
}
.eateries h2 {
  margin: 0.25rem 0 1.25rem 0;
  font-weight: 700;
  font-size: 1.5rem;
}
.eateries figure {
  background: #fff;
  border-radius: 0.9375rem;
  height: 15.6875rem;
  width: 100%;
  margin-bottom: 1.125rem;
  position: relative;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.eateries img {
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  object-fit: cover;
  height: 10.9375rem;
  width: 100%;
}
.eateries figcaption {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0.9375rem;
  width: 100%;
  height: auto;
}
.eateries .text-new {
  position: relative;
}
.eateries .text-new::before {
  position: absolute;
  content: "Nouveau";
  min-height: 1.8125rem;
  min-width: 5rem;
  background: #99E2D0;
  border-radius: 0.1875rem;
  display: grid;
  place-content: center;
  top: 5%;
  right: 3%;
  font-size: 0.875rem;
  color: #008766;
}
.eateries .cards-eateries__txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.eateries .cards-eateries__txt h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.4375rem;
}
.eateries .cards-eateries__txt p {
  font-size: 1.06rem;
  font-weight: 300;
}

.eateries-cards__bg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0 1.125rem;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}
@media screen and (min-width: 767.98px) {
  .eateries-cards__bg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3.125rem 6.25rem;
    justify-content: center;
    width: 100%;
    padding: 1.875rem 3.125rem;
  }
}
@media screen and (min-width: 1440px) {
  .eateries-cards__bg {
    padding: 1.875rem 11.25rem;
  }
}

.eateries .cards-eateries__heart {
  position: relative;
  width: 1.4375rem;
  height: 1.375rem;
  right: 0.5rem;
  top: 1.125rem;
}
.eateries .cards-eateries__heart .title-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.875rem;
  position: relative;
}
.eateries .cards-eateries__heart .heart-empty,
.eateries .cards-eateries__heart .heart-full-of {
  position: absolute;
  top: 0;
  left: 0;
  right: 10%;
  font-size: 1.4375rem;
  width: 1.4375rem;
  height: 1.375rem;
  display: inline-block;
  transition: color 0.3s ease;
}
.eateries .cards-eateries__heart .heart-empty {
  opacity: 1;
  /*z-index: 1;revoir comment ne plus voir le contour quand le coeur est en hover tout simplement le mettre en opacity: hidden en hover!!!*/
}
.eateries .cards-eateries__heart .heart-empty:hover {
  opacity: 0;
}
.eateries .cards-eateries__heart .heart-full-of { /*change le nom pour heartFilled*/
  opacity: 0;
  background: linear-gradient(#9356dc, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4375rem;
  transform: translate scale(1.2);
}
.eateries .cards-eateries__heart .heart-full-of:hover {
  opacity: 1;
}

/*layout*/
/*pages*/
body {
  height: 100vh;
}

.main-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

/***section info**/
.info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  padding-top: 2.375rem;
  padding: 2.4rem 1.875rem;
}
.info h1 {
  color: #101010;
  font-family: "Roboto", "sans-serif";
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
}
.info p {
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 1.6875rem;
  align-self: center;
}

/**section functioning**/
.functioning {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.25rem;
  background: #fff;
}
.functioning h2 {
  align-self: flex-start;
  margin: 3rem 0 1.625rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.functioning .functioning__item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 1.25rem;
  border: none;
  padding: 1.75rem 2.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 1.5625rem 0;
  max-width: 20.9375rem;
  height: auto;
  transition: transform 0.3s;
}
.functioning .functioning__item:hover {
  cursor: pointer;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transform: scale(0.95);
}
.functioning .functioning-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .functioning .functioning-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}
.functioning .fonctioning-list__circle {
  background: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 0.875rem;
  position: absolute;
  left: -10px;
  top: 25%;
  transform: translateY(40%);
}
.functioning .functioning-list__number {
  margin-top: 0.25rem;
}
.functioning .functioning-list_icon {
  color: #7E7E7E;
  margin-right: 1.6875rem;
  transition: transform 0.3s;
}
.functioning .functioning-list_icon:hover {
  color: #9356dc;
}
.functioning .functioning-list_links {
  display: flex;
}
.functioning p {
  font-size: 1rem;
  font-weight: 500;
}

.menu-container {
  width: 100%;
  padding: 0.8125rem;
  background: #f6f6f6;
  border-radius: 2.1875rem;
  position: relative;
  z-index: 1;
  margin-top: -0.25rem;
  /*@media screen and (min-width: 768px) {
      padding: func.rem(50);
  }*/
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  /*@media screen and (min-width: 768px) {
     width:80%;
      padding: 0 func.rem(50);
  }*/
}

#menu__title {
  font-family: "shrikhand", "cursive";
  font-size: 1.5rem;
  font-size: 1.5rem;
}

.img__header {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  background: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") cover no-repeat;
}

.nav__arrow {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-medium);
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.875rem;
  position: relative;
}
.title-container .title-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.875rem;
  position: relative;
}
.title-container .heart-empty,
.title-container .heart-full-of {
  position: absolute;
  top: 0;
  left: 0;
  right: 10%;
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  transition: color 0.3s ease;
}
.title-container .heart-empty {
  opacity: 1;
  /*z-index: 1;revoir comment ne plus voir le contour quand le coeur est en hover tout simplement le mettre en opacity: hidden en hover!!!*/
}
.title-container .heart-empty:hover {
  opacity: 0;
}
.title-container .heart-full-of { /*change le nom pour heartFilled*/
  opacity: 0;
  background: linear-gradient(#9356dc, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
  transform: translate scale(1.2);
}
.title-container .heart-full-of:hover {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
