@use '../base/index' as base;
@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use '../base/functions' as func;


header {
    @include mix.shadow-primary;
    background: var.$color-white;
   @include mix.flex-center(row);
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 1;

}

.logo_header {
    display: block;
    height: auto;
    min-width: func.rem(192);
    padding: func.rem(24);
    background: var.$color-white;
    

}
