

header {
    @include shadow-primary;
    background: $color-white;
   @include flex-center(row);
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 1;

}

.logo_header {
    display: block;
    height: auto;
    min-width: rem(192);
    padding: rem(24);
    background: $color-white;
    
}
