@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use '../base/functions' as func;




.nav__resto {
    
  @include mix.flex-center(row);
    padding-right: func.rem(42);
    background: red($color: #000000);

    .nav__arrow {
        color: rgb(233, 7, 7);
        margin: func.rem(42);
        font-size: var(--font-size-logo);
        font-weight: var(--font-weight-medium);
    }
 
}

