
@use '../../base/variables' as var;
@use '../../base/functions' as func;
@use '../../base/mixins' as mix;
@use '../../base/typo' as typo;




%cards-menus {
    background: var.$color-white;
    border-radius: func.rem(15);
    @include mix.shadow-card;
     margin-bottom: func.rem(15) ;
}

    .menu__cards {
       
        @include mix.flex-center(column);
        }
   
    

    .menu__title {
        display: inline-block;
        font-family: typo.$primary-font;
        font-weight: typo.$font-weight-light;
        text-transform: uppercase;
        font-size: typo.$font-size-medium;
        margin: func.rem(20) 0 func.rem(40);
        align-self: start;
        padding-bottom: func.rem(5);
        position: relative;
      &::after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            background : var.$green-color-bagde;
            height: func.rem(3);
            margin-top:func.rem(5);
        }
    }

    .menu__items {
        
        @include mix.flex-center(row);
        justify-content: start;
        padding: func.rem(15);
        @extend %cards-menus;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
     
        position: relative;
        }

        .menu__meal {
            @include mix.flex-center(column);
            gap: func.rem(10);
           
            overflow: hidden;//cache le débordement du texte
            white-space: nowrap;//empêche de revenir à la ligne
            text-overflow: ellipsis; //tronque le texte si trop long

          & h3, p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
           }

              
    
    .menu__price {
        font-weight: typo.$font-weight-bold;
        display:flex;
        align-items: flex-end;
        margin-left: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
        }
      
      

    

     