
@use '../../base/variables' as var;
@use '../../base/functions' as func;
@use '../../base/mixins' as mix;
@use '../../base/typo' as typo;




%cards-menus {
    background: var.$color-white;
    border-radius: func.rem(15);
    @include mix.shadow-card;
     margin: func.rem(16) 0;
     cursor: pointer;
}

    .menu__cards {
       
        @include mix.flex-center(column);
        }
   
    

    .menu__title {
        display: inline-block;
        font-family: typo.$primary-font;
        font-weight: typo.$font-weight-light;
        text-transform: uppercase;
        font-size: typo.$font-size-medium;
        margin: func.rem(20) 0 func.rem(40);
        align-self: start;
        padding-bottom: func.rem(5);
        position: relative;
      &::after {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            background : var.$green-color-bagde;
            height: func.rem(3);
            margin-top:func.rem(5);
        }
    }

    .menu__items {
        
      display: flex;
      flex-direction: row;
       justify-content: space-between;
         align-items: center;
         gap: 5;
      //  justify-content: start;
       //padding: func.rem(15);
       //gap: 5;
        @extend %cards-menus;
      //  position: relative;
        overflow: hidden;
       // white-space: nowrap;
       // text-overflow: ellipsis;
       
        }

        .menu__content {
            display: flex;
            flex-direction: column;
           // gap: func.rem(10);
          // justify-content: space-between;
           // overflow: hidden;//cache le débordement du texte
           // white-space: nowrap;//empêche de revenir à la ligne
            //text-overflow: ellipsis; //tronque le texte si trop long

           flex: 1 1 auto;//permet a mon texte de s'ajuster a l'espace disponible
         

          & h3, p {
            padding: func.rem(15) func.rem(15) 0;
          
          //overflow: hidden;
           // white-space: nowrap;
           // text-overflow: ellipsis;
         }

          .menu__second_row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
         }         
        
         .menu__price {
            transition: transform 0.3s ease-in-out;
            font-weight: typo.$font-weight-bold;
        
           

        } 
    }
  
  .menu__check {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var.$icon-size;
    color: var.$color-white;
    margin-right: -60px;
   
    height: 80px;
    width: 59px;
    border-radius: 0 func.rem(15) func.rem(15) 0;
    background: var.$green-color-bagde;
    transition: transform 0.3s ease-in-out;
  } 

  .menu__items:hover .menu__check
   {
   margin-left: 10;
   transform: translateX(-100%);
  }
    
    .menu__items:hover .menu__price
    {
    transform: translateX(-100%);
    }  
      
//rognage du texte des cartes au hover et au checked

//.menu__label:hover .menu__meal h3,
//.menu__checkbox:checked + .menu__label .menu__meal h3 {
 //   overflow: hidden;
 //   white-space: nowrap;
  //  text-overflow: ellipsis;
//}

//.menu__label:hover .menu__meal p,
//.menu__checkbox:checked + .menu__label .menu__meal p {
 //   overflow: hidden;
 //   white-space: nowrap;
  //  text-overflow: ellipsis;


    

     