//*restaurants (eateries)*/

.eateries {
    @include flex-center(column);
    padding: rem(50) rem(20);
    background: $background-color;
 
       h2 {
        margin: rem(4) 0 rem(20) 0;
        font-weight: $font-weight-bold;
        font-size: $font-size-xxlarge;
     
       }

      figure {
        background: $color-white;
        border-radius: rem(15);
        height: rem(251);
        width: 100%;
        max-width: rem(340);
        margin-bottom: rem(18);
        position: relative;
        @include shadow-card
    
       }

       img {
        border-top-left-radius: rem(15);
        border-top-right-radius: rem(15);
        object-fit: cover;
        height: rem(175);
        width: 100%;
       }
       
       figcaption {
        display: flex;
        justify-content: space-between;
        padding: rem(10) rem(15); 
        width: 100%;    
        height: auto;  
       }


       .cards-eateries_txt-new {
        display: inline-block;
        padding: rem(7) rem(10);
        color: $green-font-badge;
        background: $green-color-bagde;
        border-radius: rem(2);
        font-weight: $font-weight-medium;
        font-size: $font-size-x-small;
        min-width: rem(80);
        min-height: rem(29);
        position: absolute;
        top: 5%;
        right: 3%;
    }

      .cards-eateries-txt {
      @include flex-center(column);
      align-items: start;
     

        h3 {
            font-size: $font-size-xlarge;
            font-weight: $font-weight-bold;
            margin-bottom: rem(7);
        }

        p {
            font-size: $font-size-l;
            font-weight: $font-weight-light;
            
        }
      }

      .heart-empty::before {
        display: inline-block;
        font-weight: 600;
        transition: transform 0.3s ease-in-out;
        

      }

      .heart-full-of::after {
        display: inline-block;
        
      }

 }

.eateries-cards_bg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0 rem(18);
    justify-content: center;
    align-items: center;
    background: $background-color;

   @media screen and (min-width: 767.98px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: rem(50) rem(100);
        justify-content: center;
        width: 100%;
    }
}
