@use '../base/variables' as var;
@use '../base/functions' as func;
@use '../base/typo' as typo;

/*animation apparition des cards au chargement de la page menu*/


//animation img du header
.img__header {
    opacity: 0;
    transform: translateY(-40px);
    transform-origin: top;
    animation: revealImage 1.2s ease-in-out forwards;
}

@keyframes revealImage {
    from {
        opacity:0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
//animation du conteneur 
.menu-container {
    opacity: 0.8;
    transform: scale(0.8);
    transform-origin: top;
    animation: revealContainer 1s ease-in-out forwards;

    #menu__title {
        opacity: 0.5;
        transform: translateY(-60px);
        animation: fadeInDown 1s ease-in-out forwards;
    }

}

.hearts {
    opacity: (0);
    transform: translateY(-30px);
    animation: fadeInDown 0.8s ease-in-out forwards;
    animation-delay: 0.15s;
}

//animation des cartes après le titre

.menu__cards {
    article {
        //animation des titres de chaque section
        h2.menu__title {
            opacity: 0;
            transform: translateY(-40px);
            animation: fadeInDown 1.02s ease-in-out forwards;

            &:nth-child(1) {
                animation-delay: 0.3s;
            }

            &:nth-child(2) {
                animation-delay: 0.5s;
            }

            &:nth-child(3) {
                animation-delay: 0.7s;
        }
    }

    //animations des cartes qui suivent directement les titres

        .menu__items {
            opacity: 0;
            transform: translateY(-40px);
            animation: fadeInDown 1.04s ease-in-out forwards;

            &:nth-child(1) {
                animation-delay: 0.6s;
            }
            &:nth-child(2) {
                animation-delay: 0.8s;
            }

            &:nth-child(3) {
                animation-delay: 0.9s;
            } 

            
            &:nth-child(4) {
                animation-delay: 1s;
            } 

        }
    }
}

//animation bouton commander

/*.order-btn {
    opacity: 0;
    transform: translateY(-40px);
    animation: fadeInUp 1.07s ease-in-out forwards;
    animation-delay: 3s;
}

.footer {
    opacity: 0;
    transform: translateY(-40px);
    animation: fadeInDown 1.07s ease-in-out forwards;
    animation-delay: 2s;
}
*/

//keyframes animation conteneur
@keyframes revealContainer {
    from {
        opacity: 0.5;
        transform: scaleY(0.8);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
}
//keyframes animation du bas vers le haut 

@keyframes fadeInDown {
    from {
        opcacity:0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//keyframes animation apparaition des titres et  cartes du haut vers le bas

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//animation check certe + rectange vert

.menu__items {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s eaase;

    &::before {
        content: "";
        position: absolute;
        top:0;
        right:0;
        height: 100%;
        width: 0;
        background: var.$green-color-bagde;
        transition: width 0.6s ease-in-out;

    }

    //icône check
    .menu__check--Wrap {
        position: absolute;
        color: white;
        font-weight: typo.$font-weight-bold;
        top: 50%;
        right: 5%;
        transform: translateX(-50%) rotate(0);
        z-index: 3;
        transition: transform 0.6s ease-in-out;
    }

    //animation au hover du rectangle et de l icône

    &:hover::before {
        width: 15%;
    }

    
    &:hover .menu__check--Wrap {
        transform: translateX(-50%) rotate(360deg);
    }
}