
.location { 
    position: relative;
    min-width: rem(300);
    height: rem(62.5);
   @include flex-center(column);
    align-items: center;
    background: $color-grey2;
    gap: 1.06rem;
    @include shadow-location;

    .location_form {
        padding: rem(14);   
        margin: auto;
       
    }
}
    .location_icon-search {
        width: rem(37.5);      
        height: auto;
        font-weight:  $font-weight-bold;
        color: $color-grey;
    }

    .location_input-search {
        outline: none;
        border: none;
        background: transparent;
        padding-left: rem(17);
        font-size: rem(14);
        font-weight: $font-weight-bold;

        &:hover {
            border: 1px solid $secondary-color;
            border-radius: rem(19);
            transition: 0.3s ease-in-out;
            padding: rem(8);
            cursor: pointer;
            opacity: 40%;
           
        }
          &::placeholder {
            color: $color-grey;
            font-size: rem(16);
            font-weight: 600;
            border: none;
            outline: none;
           }
           &:focus {
            background: lighten($primary-color, 30%);
            opacity: 40%;
            border: none;
            outline: none;
            border-radius: rem(25);
            
           }
    }


.location_form {
    outline: none;
    background: $color-grey2;
}