@use '../base/variables' as var;
@use '../base/mixins' as mix;
@use '../base/functions' as func;
@use '../base/typo' as typo;
@use '../base/index' as base;

.location { 
    position: relative;
    min-width: func.rem(300);
    height: func.rem(62.5);
   @include mix.flex-center(column);
    align-items: center;
    background: var.$color-grey2;
    @include mix.shadow-location;

    &_form {
        padding: func.rem(14);   
        margin: auto;
        background: var.$color-grey2;
    }
}
    .location_icon-search {
        width: func.rem(37.5);      
        height: auto;
        font-weight:  typo.$font-weight-bold;
        color: lighten(var.$grey-tint4, 25%);
    }

    .location_input-search {
        outline: none;
        border: none;
        background: transparent;
        padding-left: func.rem(17);
        font-size: func.rem(14);
        font-weight: typo.$font-weight-bold;
    }

