@use 'variables' as var;
@use 'functions' as func;
@use 'reset';
@use 'typo' as typo;




//shadows

//shadow header +badge
@mixin shadow-primary {box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); } 

 /*shadow card*/
@mixin shadow-card {box-shadow:  0 4px 15px 0 rgba(0, 0, 0, 0.10);}

 //*buttonshadow-button
 @mixin shadow-button {box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);}

//shadowInstructions
@mixin shadow-instructions {box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.15);}
@mixin shadow-instructions-hover {box-shadow:0 2px 5px rgba(147, 86, 220, 0.25);}

//shadow-location
@mixin shadow-location {box-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);}



/*button header*/
@mixin btn-primary {
    width: 70%;
    min-height: func.rem(50);
    padding: func.rem(15) func.rem(20);
    color: var.$color-white;
    border-radius: func.rem(50);  
    background: linear-gradient( var.$secondary-color, var.$primary-color 85%);
    font-size: typo.$font-size-medium;
}

/*buttons functioning*/

@mixin button-style-functioning {
    background: var.$background-color;
    border-radius: func.rem(20);
    border: none;
    padding: func.rem(28) func.rem(38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
    font-weight: typo.$font-weight-medium;

}


@mixin circle-number {
   background: var.$primary-color;
   width: func.rem(24);
   height: func.rem(24);
   color: var.$color-white;
   border-radius: 50%;
   @include flex-center(row);
   font-size: typo.$font-size-x-small;
   position: absolute;
   left: -10px;
   top: 25%;
   transform: translateY(40%);
}


@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    flex-direction: ($direction);
}

//badge new

@mixin badge-new {
    background: var.$primary-color;
    color: var.$color-white;
    padding: func.rem(5) func.rem(10);
    border-radius: func.rem(20);
    font-size: typo.$font-size-x-small;
    position: absolute;
    top: -10px;
    right: -10px;
}

/*hearts*/

@mixin heart-icon($width, $height, $primary-color, $secondary-color) {

.heart-empty,
.heart-full-of
 {
    position: absolute;
    top: 0;
    font-size: func.rem(22);
    display: inline-block;
    transition: color 0.3s ease;
    /*left: 0;
    right: 0;*/
}

.heart-empty {
    opacity: 1;
}
.heart-empty:hover {
    opacity: 0;
}

.heart-full-of {
    opacity: 0;
    background: linear-gradient(var.$primary-color, var.$secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: func.rem(22)
    
    
}
.heart-full-of:hover {
    opacity: 1;
    
}
}


