@use '../base/index' as base;
@use 'variables' as var;
@use 'functions' as func;
@use '../base/typo' as typo;
//@use '../base/mixins' as mix;





//shadows

//shadow header +badge;/*mettre en placeholder*/
@mixin shadow-primary {box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); } 

 /*shadow card*/
@mixin shadow-card {box-shadow:  0 4px 15px 0 rgba(0, 0, 0, 0.10);}

 //*buttonshadow-button
 @mixin shadow-button($darken-amount: 1%) 
 {
    $shadow-color: darken(rgba(0, 0, 0, 0.25), $darken-amount);
    box-shadow: 0 4px 10px 0 rgb$shadow-color;
}

//shadowInstructions
@mixin shadow-instructions {box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.15);}
@mixin shadow-instructions-hover {box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.15);}

//shadow-location
@mixin shadow-location {box-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);}



/*button header*///mixin du button de la page home (btn de base)/*enlever le valeur mise ici dans la misin et le mettre uniquement pour le btn primary pour que cette mixin soit réutilisable , pas besoin de laisser les valauer du btn primary ici il suffit de la utiliser quand j utilise la mixin!!!)
@mixin btn-primary($width: func.rem(218), $min-height: func.rem(50), $padding: func.rem(15) func.rem(20)) {
    width: $width;
    min-height: $min-height;
    padding: $padding;
    color: var.$color-white;
    border-radius: func.rem(50);  
    background: linear-gradient( var.$secondary-color, var.$primary-color 85%);
    font-size: typo.$font-size-medium;
}


/*buttons functioning*///button de la section functionning
//changer son nom car aussi utiliser pour les cards menu faire des variables
@mixin button-style-functioning {
    background: var.$background-color;
    border-radius: func.rem(20);
    border: none;
    padding: func.rem(28) func.rem(38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
    font-weight: typo.$font-weight-medium;

}

//mixin pour les cercles des boutons de la section fonctionnement
@mixin circle-number {
   background: var.$primary-color;
   width: func.rem(24);
   height: func.rem(24);
   color: var.$color-white;
   border-radius: 50%;
   @include flex-center(row);
   font-size: typo.$font-size-x-small;
   position: absolute;
   left: -10px;
   top: 25%;
   transform: translateY(40%);
}

// mixin pour placer les éléments avec flex centrer
@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    flex-direction: ($direction);
}

//badge new, mixin du bage new
//faire un place holder************
/*@mixin badge-new {
    background: var.$primary-color;
    color: var.$color-white;
    padding: func.rem(5) func.rem(10);
    border-radius: base.rem(20);
    font-size: typo.$font-size-x-small;
    position: absolute;
    top: -10px;
    right: -10px;
}*/

/*hearts*///mixin des coeurs,(trouve pourquoi le heart-empty ne passe pas en opcaity 0 quand il est en hover

@mixin heart-icon($width, $height, $primary-color, $secondary-color) {


.heart-empty,
.heart-filled
 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: $width;
    width: $width;
    height: $height;
    display: inline-block;
    transition: opacity 0.3s, transform 0.3s, color 0.3s ease;
    
    
}

.heart-empty {
    opacity: 1;
   z-index: 2;  //heart-empty est audessus de heart-filled au départ
}
/*.heart-empty:hover {
    opacity: 0;
}*/

.heart-filled {  
    opacity: 0;
    z-index: 1;
    background: linear-gradient(var.$primary-color, var.$secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $width;
    transform: translate scale(1) ease-in-out;
    transition: opacity 0.3s, transform 0.3s ease;
}
//lorsque l'utilisateur survole le coeur vide, alors le coeur vide disparait et le coeur rempli apparait
.hearts:hover .heart-empty {
    opacity: 0;
    z-index: 1;
}

.hearts:hover .heart-filled {
    opacity: 1;  //heart-filled apparait
    z-index: 2;  //heart-filled apparait au dessus de heart-empty
    transform: scale(1.2);  
}
}

@mixin partial-underline($length) {
    padding-bottom: 10px;
    border-bottom: 3px solid var.$green-color-bagde;
    width: $length;
}



