@use 'functions' as func;
//@use '../base/index' as base;
@debug 'Variables file loaded';

//colors

$primary-color: rgb(146, 86, 220);
$secondary-color: #FCA311;
$primary-color2: #c5e2f8;
$secondary-color: rgb(255, 121, 218);

$green-color-bagde: #99E2D0;
$green-font-badge: #008766;

$background-color:#f6f6f6;
$background-color2: #89c8fa;
$color-black: #101010;
$color-white: #fff;
$color-grey2: #EAEAEA;
$color-grey: #353535;
$grey-tint4: #7E7E7E;


//main-gradient:  $linear-gradient( $secondary-color, $primary-color 85%)

//size
$size: 1rem;

//soulignement titre
$underline-color: #9356dc;
$underline-thickness: func.rem(3);
$underline-length: 50%;


//variables pour l'animaition du rectangle vert et du check

// Variables
$green-color-bagde: #99E2D0;
$green-font-badge: #008766;
$price-margin: 15px;
$icon-size: 25px;
