/***section info**/

.info {
    width: 100%;
    @include flex-center(column);
    align-items: center;
    background: lighten($color-grey2, 5%);
    padding-top: rem(38);
    padding: rem(38.4) rem(30);  

    h1 {
        color: $color-black;
        font-family: $primary-font;
        font-size: rem(24);
        font-weight: $font-weight-bold;
        text-align: center;
        padding-bottom: rem(8); 
    }

    p {
        font-family: $primary-font;
        font-weight: $font-weight-light;
        font-size: rem(18);
        margin-bottom: rem(27);
        align-self: center; 
    }

}



/**section functioning**/

 .functioning {
   @include flex-center(column);
    padding: rem(20);
    background: $color-white;
 }
     
 .funtioning_title {
        align-self: flex-start;
        margin: 3rem 0 1.625rem 0;
        font-size: $font-size-xxlarge;
        font-weight: $font-weight-bold;

        }

.functioning-list {
    @include flex-center(column);
    align-items: center;
    

    .functioning_item {
        @include flex-center(row);
       @include button-style-functioning;      
        @include shadow-instructions;
        margin: rem(25) 0;
        max-width: rem(335);
        height: auto;

            &:hover {
                transform: scale(1.02);
                @include shadow-instructions-hover; 
            }
    }
    .fonctioning-list_circle  {
        @include circle-number;
    }

    .functioning-list_number {
        margin-top: rem(4);
    }

    .functioning-list_icon {
        color: $grey-tint4;
        margin-right: rem(27);
        //outline: $grey-tint4;/*rechercher comment enlever la bordure reste avec none et ne change pas de couleur voir txt*/
           
        &:hover {
              color: $primary-color;  //l'icone doit devenir en primary color quand la souri passe sur tout l'étiquette, pas que qd elle passe sur l'icone
              transform: scale(1.2);
          }
    }
    
    .functioning-list_links {
        display: flex;
    }

    p {
        font-size: $font-size-medium;  //voir si je ne peux pas faire une mixin pour letitre des cartes et une pour le ss titre des cards, le code se répète trop
        font-weight: $font-weight-medium;
    }
}    





