@use '../base/mixins' as mix;
@use '../base/variables' as var;
@use '../base/functions' as func;
@use '../base/typo' as typo;    
@use '../base/index' as base;
@use '../base/mediaqueries' as media;

.menu-container {
    
    max-width: 1024px;
    padding: func.rem(15);
    background: var.$background-color;
    border-radius: func.rem(35); 
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin: func.rem(-45) auto 0;

   @include media.respond-to('tablet') {
        padding: func.rem(50);
    }
    @include media.respond-to('desktop') {
        margin: func.rem(-45) auto 0;
    }
}

#menu__title {
    font-family: typo.$logo-font;
    font-size: typo.$font-size-xxxlarge;
    font-weight: typo.$font-weight-bold;
}

.img__header {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    background: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") cover no-repeat; //trouver comment mieux dapter l'image pour enlever le blanc a droite
}

.nav__arrow {
    display: inline-block;
    width: func.rem(30);
    height: func.rem(30);
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-medium);
}


.title-container {

    width: 100%;
    padding: func.rem(30);
    position: relative;
    font-size: typo.$font-size-xxxlarge;
    letter-spacing: 0.7px;
    display:flex;
    justify-content: flex-start;
    align-items: center;

    @include media.respond-to('tablet') {
       display: flex;
       justify-content: center;
    }
}

.hearts {
   margin-left: 20px;
   display:flex;
   position: relative;
   align-items: center;
   justify-content: center;
    padding-bottom: func.rem(20);


    font-size: typo.$font-size-xxxlarge;
     @include mix.heart-icon(func.rem(23), func.rem(22), var.$primary-color, var.$secondary-color);


}